{% extends "base.html" %}
{% load custom_filters %}

{% block title %}
    Transposing
{% endblock %}

{% block quote %}
    I will sing to the Lord as long as I live; I will sing praise to my God while I have my being. ~Psalm 104:33
{% endblock %}

{% block body %}
<h2>Overview</h2>
<p>Sometimes, songs are too high or too low. If that is the case, you should change the <i>key</i> of the song. The key of a song decides what pitches to sing. A high key will have higher pitches than a lower key. If you want to sing the key at a lower key, take all the chords in the song and change them into a lower chord, as dictated by the scale below. If you want to sing a higher key, take the chords and change them into a higher chord.</p>

<h2>Scale</h2>
<p>Click on a chord to view the other chords relative to that chord. To lower a key down 2 keys, for example, click on each chord in the song, and change each chord to the chord underneath the "-2".</p>
<table id="chordchart">
    <tr id="scale"></tr>
    <tr id="chords"></tr>
</table>

<h2>Mass Transpose</h2>
<p>To automatically transpose your chords, type your chords below and select the amount by which you want to change the key.</p>

<table id="app-container">
    <td>
        <table id="app">
            <tr>
                <td rowspan="2"><textarea id="old-chords"></textarea></td>
                <td><select id="change"></select></td>
            </tr>
            <tr>
                <td><input type="submit" id="submit" value="Submit"></td>
            </tr>
        </table>
    </td>
    <td>
        <table id="result"></table>
    </td>
</table>
{% endblock %}