# just using requirements.txt for heroku

django==1.9.5
boto==2.35.2
wsgiref==0.1.2
django-storages==1.1.8
facebook-sdk==0.4.0

# heroku-specific packages
dj-database-url==0.4.1
psycopg2==2.5.4
libsass==0.11.1
gunicorn==19.0.0
newrelic==2.68.0.50
