@import url(fonts.css);

input
{
    font-family: "WeblyLight";
}

#content form
{
    font-size: 1.5em;
}

#content input[type="submit"]
{
    position: relative;
    margin-top: .5em;
    margin-left: 500px;
    left: -95px;
}

textarea
{
    height: 10em;
    width: 500px;
    font-size: inherit;
    color: #655643;
    font-family: "WeblyLight";
}

label
{
    font-family: "WeblyLight";
    font-size: 1.2em;
    color: #655643;
}