body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#content table {
  font-family: "Webly";
  color: #655643;
  width: 100%;
  border-collapse: collapse;
}
#chordchart {
  margin: 1em 0;
  font-size: 32px;
  background: -moz-linear-gradient(to right, #e6bf65 0%, #f8f4d3 60%, #ffffff 100%);
  background: -webkit-linear-gradient(right, #e6bf65 0%, #f8f4d3 60%, #ffffff 100%);
  background: linear-gradient(to right, #e6bf65 0%, #f8f4d3 60%, #ffffff 100%);
}
#chordchart tr {
  border: 1px solid #655643;
}
#chordchart td {
  cursor: default;
  margin: 0;
  width: 8%;
  text-align: center;
}
#chords td:hover {
  cursor: pointer;
  background: rgba(191, 77, 40, 0.5);
}
#app-container > tbody > tr > td {
  width: 50%;
  vertical-align: top;
}
#app textarea {
  width: 90%;
  height: 7em;
  resize: none;
  font: 24px "WeblyLight";
}
#app select {
  text-align: center;
  font: 19.2px "Webly";
  color: #655643;
  width: 4em;
}
#app td {
  width: inherit;
}
#app td:last-child {
  vertical-align: inherit;
  text-align: center;
}
input[type="submit"] {
  font-size: 27.2px;
}
#result {
  margin: 0;
  padding: 0;
  width: initial;
  margin-left: 50px;
  font-size: 27.2px;
}
#result td {
  margin: 0;
  padding: 0 .5em;
  width: inherit;
  text-align: center;
  white-space: nowrap;
}
