body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#content table {
  font-family: "Webly";
  color: #655643;
  border-collapse: collapse;
}
#chordchart {
  margin: 1em 0;
  width: 100%;
  font-size: 32px;
  background: -moz-linear-gradient(to right, #e6bf65 0%, #f8f4d3 60%, #ffffff 100%);
  background: -webkit-linear-gradient(right, #e6bf65 0%, #f8f4d3 60%, #ffffff 100%);
  background: linear-gradient(to right, #e6bf65 0%, #f8f4d3 60%, #ffffff 100%);
}
#chordchart tr {
  border: 1px solid #655643;
}
#chordchart td {
  cursor: default;
  margin: 0;
  width: 8%;
  text-align: center;
}
#chords td:hover {
  cursor: pointer;
  background: rgba(191, 77, 40, 0.5);
}
.app-container {
  width: 100%;
}
.app-container > * {
  display: inline;
  vertical-align: top;
}
.app-container .input-chords {
  width: 40%;
  padding: 5px;
  height: 176px;
  font: 24px "WeblyLight";
  resize: none;
}
.app-container .input-change {
  margin: 32px;
  font: 19.2px "Webly";
  color: #655643;
  text-align: center;
  width: 4em;
}
.app-container div {
  width: 50%;
}
.app-container div .app-result {
  display: inline;
  text-align: center;
  font-size: 27.2px;
  width: initial;
}
.app-container div .app-result td,
.app-container div .app-result th {
  padding: 0 .5em;
}
