body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#content table,
#chordchart {
  font-family: "Webly";
  color: #655643;
  border-collapse: collapse;
}
#chordchart {
  margin: 1em 0;
  width: 100%;
  font-size: 25.6px;
  background: -moz-linear-gradient(to right, #e6bf65 0%, #f8f4d3 60%, #ffffff 100%);
  background: -webkit-linear-gradient(right, #e6bf65 0%, #f8f4d3 60%, #ffffff 100%);
  background: linear-gradient(to right, #e6bf65 0%, #f8f4d3 60%, #ffffff 100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow: scroll;
}
#chordchart #scale,
#chordchart #chords {
  min-width: 1001px;
  border: 1px solid #655643;
}
#chordchart #scale div,
#chordchart #chords div {
  display: inline-block;
  min-width: 77px;
  width: 7.69230769%;
  cursor: default;
  margin: 0;
  text-align: center;
}
#chordchart #scale .chord:hover,
#chordchart #chords .chord:hover {
  cursor: pointer;
  background: rgba(191, 77, 40, 0.5);
}
.app-container {
  width: 100%;
}
.app-container > * {
  display: inline-table;
  vertical-align: top;
}
.app-container .input-chords {
  width: 40%;
  padding: 5px;
  height: 176px;
  font: 24px "WeblyLight";
  resize: none;
}
.app-container .input-change {
  margin: 32px;
  font: 19.2px "Webly";
  color: #655643;
  text-align: center;
  width: 4em;
}
.app-container div {
  width: 50%;
}
.app-container div .app-result {
  display: inline;
  text-align: center;
  font-size: 27.2px;
  width: initial;
}
.app-container div .app-result td,
.app-container div .app-result th {
  padding: 0 .5em;
}
