#content {
    input {
        padding-left: .2em;
        width: 500px;
        margin-bottom: 1.5em;
    }
    .song-container {
        white-space: nowrap;
        overflow: scroll;
        .column {
            display: inline-block;
            vertical-align: top;
            width: 300px;
            padding: 0 10px;
            p {
                white-space: normal;
            }
        }
    }
}