@font-face {
  font-family: "Webly";
  src: url('fonts/weblysleek_ui/weblysleekuisl.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Webly";
  src: url('fonts/weblysleek_ui/weblysleekuisb.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Webly";
  src: url('fonts/weblysleek_ui/weblysleekuisli.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Webly";
  src: url('fonts/weblysleek_ui/weblysleekuisbi.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "WeblyLight";
  src: url('fonts/weblysleek_ui/weblysleekuil.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "WeblyLight";
  src: url('fonts/weblysleek_ui/weblysleekuili.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "WeblyLight";
  src: url('fonts/weblysleek_ui/weblysleekuisb.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "WeblyLight";
  src: url('fonts/weblysleek_ui/weblysleekuisbi.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background: #f8f4d3;
}
h1 {
  margin-bottom: .2em;
  color: #bf4d28;
  font: italic small-caps bold 48px "Webly";
}
h2 {
  margin: 0;
  margin-bottom: 0;
  font: small-caps bold 32px "Webly";
  color: #847057;
}
p {
  margin-top: 0;
  margin-bottom: .5em;
  color: #655643;
  font: 24px "WeblyLight";
}
a {
  text-decoration: none;
  color: #80bca3;
}
a:hover {
  color: #e6bf65;
}
input {
  margin: 0;
  font: 24px "WeblyLight";
  background: #FFF;
  color: #655643;
}
button,
.button {
  font: small-caps bold 24px "Webly";
  background: #655643;
  color: #FFF;
  border-color: #bf4d28;
  cursor: pointer;
}
header {
  background: #655643;
  margin-bottom: 25px;
}
header h1 {
  float: right;
  padding-right: 50px;
  font: italic small-caps bold 48px "Webly";
  color: #e6bf65;
  cursor: default;
  margin: 0;
}
header nav {
  padding: 15px 20px .5em;
}
header nav div[class^=nav] {
  display: inline-block;
  width: 125px;
  min-height: 50px;
  text-align: center;
}
header nav div[class^=nav] img.icon {
  position: relative;
  top: -100px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header nav div[class^=nav] img.icon.active {
  top: 0;
  opacity: 1;
}
header nav div[class^=nav] a {
  padding: .2em;
  font: small-caps bold 28.8px "Webly";
  color: #FFF;
  display: block;
}
header nav div[class^=nav] a:hover {
  text-decoration: underline;
}
header nav div.nav-search {
  width: initial;
  min-height: initial;
  text-align: left;
  vertical-align: sub;
}
header nav div.nav-search #search {
  width: 40px;
  vertical-align: bottom;
  cursor: pointer;
}
header nav div.nav-search #search:hover {
  background: rgba(255, 255, 255, 0.15);
}
header nav div.nav-search #search:active {
  background: rgba(201, 201, 201, 0.2);
}
header nav div.nav-search #search + form {
  display: inline;
}
header nav div.nav-search #search + form #searchbox {
  padding-left: .2em;
  background: #f8f4d3;
  border: 3px inset #655643;
  vertical-align: bottom;
}
#wrapper {
  position: relative;
  min-height: 100%;
}
#quote {
  text-align: center;
  font: italic 24px "WeblyLight";
}
#content {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 80px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #e9eff2;
}
@media (max-width: 555px) {
  img.icon {
    display: none;
  }
}
