body {
  margin: 0;
  padding: 0;
  height: 100%;
}
input {
  font-family: "WeblyLight";
}
#content form {
  font-size: 24px;
}
#content form label {
  font: 28.8px "WeblyLight";
  color: #655643;
}
#content form textarea {
  height: 10em;
  width: 500px;
  font-size: inherit;
  color: #655643;
  font-family: "WeblyLight";
}
#content form button {
  position: relative;
  margin-top: .5em;
  margin-left: 500px;
  left: -95px;
}
#content .message {
  margin-top: 1em;
  font-weight: bold;
}
