body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  min-width: 1000px;
}
.select2-container-multi {
  font: 20.8px "Webly";
  margin: 5px;
  width: 50%;
}
.select2-container-multi .select2-choices .select2-search-choice {
  font: 19.2px "Webly";
  line-height: 1em;
  color: #bf4d28;
}
.select2-results {
  font: 20.8px "Webly";
  color: #bf4d28;
}
#song-table {
  width: 100%;
  border-collapse: collapse;
  font: 19.2px "WeblyLight";
  color: #655643;
}
#song-table th {
  background-color: #655643;
  background-image: url(vendor/tablesorter-unsorted.gif);
  background-position: 95% 50%;
  background-repeat: no-repeat;
  color: #FFF;
  height: 1.5em;
  cursor: pointer;
}
#song-table th.tablesorter-headerAsc {
  background-image: url(vendor/tablesorter-asc.gif);
}
#song-table th.tablesorter-headerDesc {
  background-image: url(vendor/tablesorter-desc.gif);
}
#song-table th.sorter-false {
  background-image: none;
  cursor: default;
}
#song-table tr.odd {
  background: #e7f4ff;
}
#song-table td,
#song-table th {
  padding: .2em .5em;
  border: 1px solid #655643;
  text-align: center;
}
#song-table td:nth-child(1) {
  width: 30%;
}
#song-table td:nth-child(2) {
  width: 20%;
}
#song-table td:nth-child(3) {
  text-align: left;
  width: 45%;
  padding: 1px;
}
#song-table td:nth-child(4) {
  width: 5%;
}
#song-table td button {
  cursor: pointer;
  border: 0;
  background: rgba(201, 201, 201, 0.5);
  color: #bf4d28;
  font: 19.2px "WeblyLight";
  padding: 0;
  margin: 2px;
}
#song-table td button :hover {
  background: rgba(255, 255, 255, 0.7);
}
#content h1 {
  margin-top: 0;
}
#content h1 span#artist {
  font: small-caps 32px "Webly";
  margin-left: .5em;
  color: #907b5f;
}
#content h1 span#artist:before {
  content: "/ ";
}
#content a#feedback {
  font: small-caps italic 19.2px "Webly";
  color: #bf4d28;
  margin-left: 30px;
}
#content a#feedback:hover {
  color: #e6bf65;
}
#content a#feedback:before {
  content: "// ";
}
#songpdf {
  width: 100%;
  height: 700px;
}
#buttons-container {
  margin-top: 1em;
  width: 100%;
  text-align: center;
}
#buttons-container .download a {
  margin: 0 .5em;
}
#buttons-container .download a button {
  font-family: "WeblyLight";
}
#buttons-container .navigation {
  font: 24px "WeblyLight";
  margin-top: 1em;
  overflow: hidden;
}
#buttons-container .navigation .before {
  float: left;
}
#buttons-container .navigation .after {
  float: right;
}
