body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.select2-container-multi {
  font: 20.8px "Webly";
  margin: 5px;
  width: 50%;
}
.select2-container-multi .select2-choices .select2-search-choice {
  font: 19.2px "Webly";
  line-height: 1em;
  color: #bf4d28;
}
.select2-results {
  font: 20.8px "Webly";
  color: #bf4d28;
}
#songs {
  width: 100%;
  border-collapse: collapse;
  font: 19.2px "WeblyLight";
  color: #655643;
}
#songs th {
  background: #655643;
  color: #FFF;
  height: 1.5em;
  cursor: default;
}
#songs th .sort {
  float: right;
  margin: 0;
  color: #FFF;
  font-size: 19.2px;
}
#songs tr.odd {
  background: #e7f4ff;
}
#songs td,
#songs th {
  padding: .2em .5em;
  border: 1px solid #655643;
  text-align: center;
}
#songs td:nth-child(1) {
  width: 30%;
}
#songs td:nth-child(2) {
  width: 20%;
}
#songs td:nth-child(3) {
  text-align: left;
  width: 45%;
  padding: 1px;
}
#songs td:nth-child(4) {
  width: 5%;
}
#songs td button {
  cursor: pointer;
  border: 0;
  background: rgba(201, 201, 201, 0.5);
  color: #bf4d28;
  font: 19.2px "WeblyLight";
  padding: 0;
  margin: 2px;
}
#songs td button :hover {
  background: rgba(255, 255, 255, 0.7);
}
#content h1 {
  margin-top: 0;
}
#content h1 span#artist {
  font: small-caps 32px "Webly";
  margin-left: .5em;
  color: #907b5f;
}
#content h1 span#artist:before {
  content: "/ ";
}
#songpdf {
  width: 100%;
  height: 700px;
}
#buttons-container {
  margin-top: 1em;
  width: 100%;
  text-align: center;
}
#buttons-container .download a {
  margin: 0 .5em;
}
#buttons-container .download a button {
  font-family: "WeblyLight";
}
#buttons-container .navigation {
  font: 24px "WeblyLight";
  margin-top: 1em;
  overflow: hidden;
}
#buttons-container .navigation a:first-child {
  float: left;
}
#buttons-container .navigation a:last-child {
  float: right;
}
#back-button {
  font: 24px "WeblyLight";
  color: #80bca3;
}
#back-button:hover {
  color: #e6bf65;
}
