@import "mixins";

.content {
    @include info-content;
    h2 {
        margin-bottom: 0;
    }
    .chords {
        width: 720px;
        margin: 20px auto;
        li {
            display: inline-block;
            margin: 0 15px;
            font-weight: 400;
        }
    }
    .links {
        li {
            display: inline-block;
            margin-right: 10px;
        }
    }
}
