@import "vars", "mixins";

html, body, div, span, h1, h2, h3, h4, h5, h6,
p, a, ul, li, label, form, input, textarea,
header, footer {
    margin: 0;
    padding: 0;
    color: $black;
    font-family: sans-serif("Rubik");
    font-weight: $weight-normal;
    box-sizing: border-box; // padding included in width
}

html, body {
    background: $light-gray;
    height: 100%;
    min-width: 900px;
}

li {
    list-style: none;
}

header {
    position: relative;
    background: $dark-gray;
    height: $header-height;
    font-size: 22px;
    a {
        text-decoration: none;
        color: $light-gray;
    }
    h1 {
        position: absolute;
        left: 20px;
        bottom: 5px;
        font-size: 3em;
        a {
            font-family: sans-serif("Anton");
            font-weight: normal;
        }
    }
    nav {
        position: absolute;
        right: 20px;
        bottom: 20px;
        a {
            display: block;
            text-align: right;
            margin-bottom: 5px;
            &:hover {
                color: darken($light-gray, 10);
            }
        }
    }
}

@mixin make-header($size) {
    font-size: $size;
    margin: 10px 0;
}

.content {
    padding: 30px 50px;
    font-size: 18px;
    h1 {
        @include make-header(1.8em);
        font-weight: $weight-bold;
    }
    h2 {
        @include make-header(1.3em);
    }
    p {
        margin-bottom: 5px;
    }
    a:hover {
        color: lighten($black, 10);
    }
    input, textarea {
        font-size: 18px;
        padding: 4px;
    }
    button {
        $primary-color: $black;
        $secondary-color: $light-gray;
        font-size: 20px;
        font-family: sans-serif("Rubik");
        padding: 7px 30px 5px;
        background: $primary-color;
        color: $secondary-color;
        border: 3px solid $primary-color;
        cursor: pointer;
        transition: background 0.1s ease-in, color 0.1s ease-in;
        outline: 0;
        &:hover {
            background: $secondary-color;
            color: $primary-color;
        }
    }
}
