@import "colors";
@import "mixins";

html, body, div, span, h1, h2, h3, h4, h5, h6,
p, a, ul, li, label, form, input, textarea,
header, footer {
    margin: 0;
    padding: 0;
    color: $black;
    font-family: "Rubik", Helvetica, Arial, sans-serif;
    box-sizing: border-box; // padding included in width
}

html, body {
    background: $light-gray;
}

header {
    background: $dark-gray;
    h1 {
        color: $light-gray;
        font-family: sans-serif("Anton");
    }
}

.content {
    padding: 20px;
    font-size: 16px;
    h1 {
        margin-bottom: 10px;
    }
}
