@import "vars";
@import "mixins";

.content {
    @include info-content;
    p {
        text-align: center;
    }
    .feedback {
        margin: 20px 0;
        p {
            font-weight: 400;
            color: $blue;
            &.error {
                color: red;
            }
        }
    }
    form {
        width: 500px;
        margin: 0 auto;
        text-align: center;
        .field {
            margin: 10px 0;
            label {
                display: block;
                margin-bottom: 5px;
                text-align: left;
            }
            input, textarea {
                width: 100%;
                font-size: 18px;
                padding: 4px;
            }
        }
    }
}
