@import "colors";

.songs-table {
    width: 100%;
    font-size: 18px;
    text-align: center;
    border-collapse: collapse;
    td, th {
        background: $table-gray-light;
        padding: 10px;
    }
    td {
        border: 2px solid $light-gray;
    }
    th {
        background: $dark-gray;
        color: $light-gray;
        font-weight: 300;
        font-size: 1.2em;
    }
    tr:nth-child(even) td {
        background: $table-gray-dark;
    }
}
