@import "vars", "mixins";

.status-bar {
    display: none;
    position: absolute;
    top: $header-height;
    left: 0;
    width: 100%;
    background: $orange;
    padding: 10px 10px;
    font-size: 18px;
    box-shadow: 0 2px 5px lighten(#000, 40);
    z-index: 100;
    overflow-x: auto;
    white-space: nowrap;
    &.sticky {
        position: fixed;
        top: 0;
    }
    div {
        display: inline-block;
        &.search-text {
            margin-right: 100px;
        }
    }
    .status-label {
        margin-right: 5px;
    }
    .filter-list {
        display: inline-block;
        li {
            display: inline-block;
            margin-right: 5px;
            &:after {
                content: ",";
            }
            &:last-child {
                margin-right: 0;
                &:after {
                    content: "";
                }
            }
            a {
                @include blue-link;
            }
        }
    }
    .search-query {
        font-weight: $weight-bold;
    }
}

.search-bar {
    margin-bottom: 20px;
    & > * {
        vertical-align: middle;
    }
    label {
        margin-right: 10px;
    }
    input#search {
        width: 500px;
    }
    .search-options {
        margin-left: 10px;
        font-size: 0.9em;
        &:after {
            content: "\eaec";
            font-family: "icomoon";
            margin-left: 3px;
            position: relative;
            display: inline-block;
            top: 2px;
            transform: rotate(-90deg);
            transition: transform 0.4s;
        }
        &.active:after {
            transform: rotate(0);
        }
    }
    div.options {
        margin-top: 10px;
        display: none;
        label {
            margin-left: 30px;
            margin-right: 10px;
        }
        input {
            width: initial;
        }
    }
}

.songs-table td {
    &.themes {
        width: 40%;
        a {
            @include blue-link;
        }
    }
    &.speed {
        width: 100px;
        a {
            @include blue-link;
        }
    }
}
