@import "../vars", "../mixins";

$form-width: 500px;

.content {
    text-align: center;
    form.song-form {
        margin: 0 auto;
        .buttons {
            margin-top: 20px;
            button {
                margin-right: 20px;
            }
            .cancel {
                @include display-button($red);
                margin-right: 0;
            }
            .message {
                margin-bottom: 10px;
                font-weight: $weight-bold;
                font-size: 1.1em;
            }
        }
    }
    .field {
        margin-bottom: 10px;
        label {
            display: inline-block;
            width: 80px;
        }
        &.artist {
            .selectize-control {
                width: 300px;
                display: inline-block;
                vertical-align: middle;
            }
        }
        &.lyrics {
            label {
                @include block-label;
            }
            textarea {
                width: $form-width;
                height: 10em;
                resize: none;
            }
        }
        &.themes {
            label {
                @include block-label;
            }
            .selectize-input {
                width: $form-width;
                text-align: left;
                .item {
                    background: $blue;
                    border-radius: 0;
                    border: 1px solid darken($blue, 5);
                }
            }
        }
        &.speed {
            select {
                width: 100px;
            }
        }
        &.doc, &.pdf {
            label {
                @include display-button($blue);
                width: 200px;
                font-size: 1em;
            }
            input {
                display: none;
            }
            .file-text {
                display: inline-block;
                margin-right: 20px;
                max-width: 650px;
                vertical-align: middle;
                // ellipsis at the end
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
    .feedback {
        margin-top: 0;
    }
    .theme-popup {
        input {
            margin: 10px 0;
        }
    }
    .delete-popup button {
        &.delete {
            @include display-button($red, $white);
        }
        &.cancel {
            @include display-button($black, $white);
        }
    }
    // drag-n-drop styles
    .file-upload {
        background: rgba(255,255,255,0.9);
        outline: 3px dashed $blue;
        outline-offset: -15px;
        h2 {
            display: inline-block;
        }
    }
}
