@import "../vars", "../mixins";

$form-width: 500px;

.content {
    text-align: center;
    form.song-form {
        margin: 0 auto;
        .buttons {
            margin-top: 20px;
            button {
                margin-right: 20px;
            }
            .cancel {
                @include display-button($red);
                margin-right: 0;
            }
        }
    }
    .field {
        margin-bottom: 10px;
        label {
            display: inline-block;
            width: 80px;
        }
        &.lyrics {
            label {
                @include block-label;
            }
            textarea {
                width: $form-width;
                height: 10em;
            }
        }
        &.themes {
            label {
                @include block-label;
            }
            select {
                width: $form-width;
            }
            .add-theme {
                margin-left: 5px;
                font-weight: $weight-bold;
                text-decoration: none;
                &:before {
                    content: "+";
                }
            }
        }
        &.speed {
            select {
                width: 100px;
            }
        }
        &.doc, &.pdf {
            label {
                @include display-button($blue);
                width: 200px;
                font-size: 1em;
            }
            input {
                display: none;
            }
            .file-text {
                display: inline-block;
                margin-right: 20px;
                max-width: 650px;
                vertical-align: middle;
                // ellipsis at the end
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
    .feedback {
        margin-top: 0;
    }
    .theme-popup {
        input {
            margin: 10px 0;
        }
    }
    .delete-popup button {
        &.delete {
            @include display-button($red, $white);
        }
        &.cancel {
            @include display-button($black, $white);
        }
    }
}
