{% load staticfiles partials %}
<!DOCTYPE html>
<html>
<head>
    <title>Admin | Worship Song Database</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400" rel="stylesheet" type="text/css">
    {% add_script 'vendor/jquery.min.js' 'vendor/chosen.jquery.min.js' 'admin/base.js' %}
    {% add_style 'vendor/chosen.min.css' 'base.css' %}
    {% block head %}{% endblock %}
</head>
{% spaceless %}
    <body>
        <header>
            <h1><a href="{% url 'admin:index' %}">Worship Song Database &mdash; Admin</a></h1>
            <ul>
                <li><a href="{% url 'admin:add_song' %}">Add Song</a></li>
                <li><a href="{% url 'admin:themes' %}">Themes</a></li>
                <li><a href="{% url 'admin:account' %}">Account</a></li>
            </ul>
        </header>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </body>
{% endspaceless %}
</html>
