{% extends "admin/base.html" %}
{% load partials %}

{% block head %}
    {% add_style 'database.css' 'admin/index.css' %}
    {% add_script 'vendor/jquery.dataTables.min.js' 'admin/index.js' %}
{% endblock %}

{% block content %}
    {% get_feedback %}
    <input class="search-bar" placeholder="Search">
    <table class="songs-table">
        <thead>
            <tr>
                <th class="title">Title</th>
                <th class="artist">Artist</th>
                <th class="themes">Themes</th>
                <th class="speed">Speed</th>
            </tr>
        </thead>
        <tbody>
            {% for song in songs %}
                <tr>
                    <td class="title"><a href="{% url 'admin:edit_song' song.title_slug %}">{{ song.title }}</a></td>
                    <td class="artist">{{ song.artist }}</td>
                    <td class="themes">{{ song.themes.all|join:", " }}</td>
                    <td class="speed">{{ song.get_speed_display }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
