{% extends "admin/base.html" %}
{% load partials utils %}

{% block head %}
    {% add_style 'vendor/selectize.default.css' 'admin/song_object.css' %}
    {% add_script 'vendor/selectize.min.js' 'admin/song_object.js' %}
    {% if is_edit %}
        {% add_script 'admin/edit_song.js' %}
    {% endif %}
{% endblock %}

{% block content %}
    <form class="song-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% create_field form.title form.artist form.lyrics form.themes form.speed %}
        <div class="field doc" data-filename="{{ song.doc.name|filename }}">
            {{ form.doc.label_tag }}
            <input id="id_doc" name="doc" type="file">
        </div>
        <div class="field pdf" data-filename="{{ song.pdf.name|filename }}">
            {{ form.pdf.label_tag }}
            <input id="id_pdf" name="pdf" type="file">
        </div>
        <div class="buttons">
            {% if is_edit %}
                <button>Save</button>
                <button class="delete">Delete</button>
                <a class="cancel" href="{% url 'admin:index' %}">Cancel</a>
            {% else %}
                <button>Submit</button>
                <a class="cancel" href="{% url 'admin:index' %}">Cancel</a>
            {% endif %}
        </div>
    </form>
    <div class="popup file-upload">
        <h2>Drop doc or pdf files here</h2>
    </div>
    {% if is_edit %}
        <div class="popup delete-popup">
            <div class="wrapper delete-box">
                <h1>Delete Song</h1>
                <p>Are you sure you want to delete the song "{{ song.title }}"?</p>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="delete">
                    <div class="buttons">
                        <button class="delete">Delete</button>
                        <button class="cancel">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
