{% extends "base.html" %}
{% load partials %}

{% block head %}
    {% add_style 'about.css' %}
{% endblock %}

{% block content %}
    <h1>About Me</h1>
    <p>My name is Brandon, and I am a student at UC Berkeley. I have lead worship since 2007 at a small church in Southern California before becoming a part of Livingwater Church at Berkeley since 2013. I usually play guitar when leading worship, and I also play trombone in the Cal Marching Band. I hope this website proves useful to you in your worship life!</p>

    <h1>About WorshipMate</h1>
    <h2>Files</h2>
    <p>The files for each song can be downloaded either as a Word document or an Adobe PDF. The download links are available on the detailed song page, below the song's information. You can also view all of the songs in the database at the following <a href="#">Dropbox</a> link.</p>
    <h2>Artist</h2>
    <p>The artist listed for each song is the artist whose version of the song I based the chord sheets on. Each artist sings and plays the song differently, so the chords listed might be different from the version you're used to. I also tried to make the chords as simple as possible, so it may be slightly different from what the listed artist plays.</p>
    <h2>Chords</h2>
    <p>The chords are also in the key I usually play them in, so the chord sheet might be in a different key from the artist's key. If the key is too high or low for you, you should transpose, or change, the key. Here's a quick guide to transposing: below is a scale of every chord, where going right takes you to a higher chord.</p>
    <ul class="chords">
        <li>F#/Gb</li>
        <li>G</li>
        <li>G#/Ab</li>
        <li>A</li>
        <li>A#/Bb</li>
        <li>B</li>
        <li>C</li>
        <li>C#/Db</li>
        <li>D</li>
        <li>D#/Eb</li>
        <li>E</li>
        <li>F</li>
    </ul>
    <p>To transpose a song down, take all of the chords in the song and move them down by the same amount. For example, if you want to transpose the D chord down 2 steps, you start at D, then move left two steps to C. To transpose the Em chord up 1 step, you start at E, then move right one step to F, so you get Fm.</p>
    <h2>Themes and Speed</h2>
    <p> The tags columns contain categories that describe the given song. These categories include a song's themes and its speed. Clicking on a tag will filter the table to only display songs with that tag. This can make choosing worship sets easier, by selecting songs with similar themes to a given message.</p>

    <h1>Links</h1>
    <ul class="links">
        {% for label, link in links %}
            <li><a href="{{ link }}" target="_blank">{{ label }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}