{% extends "base.html" %}
{% load partials %}

{% block head %}
    {% add_style 'contact.css' %}
{% endblock %}

{% block content %}
    <p>Please fill out this form if you would like to request songs, give feedback, or ask any questions.</p>
    <div class="feedback">
        {% if success %}
            <p>Thank you! I will respond to your message as soon as I can.</p>
        {% elif form.errors %}
            <p class="error">Please fill in all required fields</p>
        {% endif %}
    </div>
    {% create_form form %}
        <button>Submit</button>
    {% end_create_form %}
{% endblock %}