{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/database.css' %}">
    <script src="{% static 'js/vendor/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/database.js' %}"></script>
{% endblock %}

{% block content %}
    <table class="songs-table">
        <thead>
            <tr>
                <th class="title">Title</th>
                <th class="artist">Artist</th>
                <th class="themes">Themes</th>
                <th class="speed">Speed</th>
            </tr>
        </thead>
        <tbody>
            {% for song, themes in songs %}
                <tr>
                    <td class="title"><a href="{{ song.get_absolute_url }}">{{ song.title }}</a></td>
                    <td class="artist">{{ song.artist }}</td>
                    <td class="themes">{{ themes }}</td>
                    <td class="speed"><a href="#">{{ song.get_speed_display }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
