{% extends "base.html" %}
{% load partials %}

{% block head %}
    {% add_style 'database.css' %}
    {% add_script 'vendor/jquery.dataTables.min.js' 'database.js' %}
{% endblock %}

{% block content %}
    <div class="status-bar">
        <div class="search-text">
            <span class="status-label">Searching by:</span>
            <span class="search-query"></span>
        </div>
        <div class="filter-text">
            <span class="status-label">Filtering by:</span>
            <ul class="filter-list"></ul>
        </div>
    </div>
    <div class="search-bar">
        <label for="search">Search:</label>
        <input id="searcH" type="text">
    </div>
    <table class="songs-table">
        <thead>
            <tr>
                <th class="title">Title</th>
                <th class="artist">Artist</th>
                <th class="themes">Themes</th>
                <th class="speed">Speed</th>
            </tr>
        </thead>
        <tbody>
            {% for song, themes in songs %}
                <tr>
                    <td class="title"><a href="{{ song.get_absolute_url }}">{{ song.title }}</a></td>
                    <td class="artist">{{ song.artist }}</td>
                    <td class="themes">{{ themes }}</td>
                    <td class="speed"><a href="#">{{ song.get_speed_display }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
