{% extends "base.html" %}
{% load staticfiles custom_filters %}
{% load cycle from future %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/select2.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/database.css' %}" />
    <script src="{% static 'js/vendor/select2.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.tablesorter.min.js' %}"></script>
    <script src="{% static 'js/database.js' %}"></script>
{% endblock %}

{% block quote %}
    Worship the Lord with gladness; come before him with joyful songs ~Psalm 100:2
{% endblock %}

{% block body %}
<p>To get the Dropbox folder with all of the songs, click <a href="https://www.dropbox.com/sh/c6rryyatkpsnmm8/AADt5uOeBHgHqdvN-1b2ndbYa" target="_blank">here</a>. To sort by title or artist, click the column header to sort the songs ascending, and again to sort descending. To see songs only matching a certain theme or speed, click one of the buttons to filter, and click again to unfilter.</p>

<select multiple class="filter"></select>
<table id="song-table" class="tablesorter">
    <thead>
    <tr>
        <th id="title">Song Title</th>
        <th id="artist">Artist</th>
        <th>Themes</th>
        <th>Speed</th>
    </tr>
    </thead>
    <tbody>
    {% for song in songs %}
        <tr class="song {% cycle 'even' 'odd' %}">
            <td><a href="{{ song.get_absolute_url }}">{{ song.title }}</a></td>
            <td>{{ song.artist }}</td>
            <td>{{ song.themes.all|join:", " }}</td>
            <td>{{ song.speed|convert_speed }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}