{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/home.css' %}" />
{% endblock %}

{% block quote %}
    Sing joyfully to the Lord, you righteous; it is fitting for the upright to praise him ~Psalm 33:1
{% endblock %}

{% block body %}
<p>Welcome to the Worship Song Database! I will be updating this site with more and more worship songs. This site will hopefully be a helpful tool for any worship leaders out there with choosing songs. Check out the <a href={% url 'about' %}>About</a> page if this is your first time to this site to learn about how this database works. If you have any need to contact me, refer to the <a href={% url 'contact' %}>Contact</a> page. If you found this site helpful, please share this site with friends and fellow worship leaders! Best of luck, and worship hard!</p>
<p><b>**Disclaimer** I do not own these songs. These songs are the property of their respective artists, and I do not intend to gain or profit from the use of their songs. Visit the <a href='http://ccli.com' target="_blank">CCLI</a> webpage for the songs' respective CCLI codes.</b></p>
<div id="buttons">
    <a class="button" href={% url 'database' %}>Go to Database</a>
    <a class="button" href={% url 'transpose' %}>Go to Transposition App</a>
</div>
{% endblock %}