{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/search.css' %}" />
{% endblock %}

{% block quote %}
Therefore I will praise you, Lord, among the nations; I will sing the praises of your name ~2 Samuel 22:50
{% endblock %}

{% block body %}
<form action="{% url 'search' %}" method="GET">
    <input name="query" id="searchbox" value="{{ query }}"></input>
</form>

{% if not pages and not songs %}
    <h2>No results found.</h2>
{% endif %}

{% if pages %}
    <h2>Pages Found</h2>
    {% for page, link in pages %}
    <p><a href="{{ link }}">{{ page }}</a></p>
    {% endfor %}
{% endif %}

{% if songs %}
    <h2>Songs Found</h2>
    {% for song in songs %}
    <p><a href="{{ song.get_absolute_url }}">{{ song.title }}</a></p>
    {% endfor %}
{% endif %}
{% endblock %}