{% extends "base.html" %}
{% load staticfiles utils %}

{% block title %}
    {{ song.title }} | Worship Song Database
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/song.css' %}">
{% endblock %}

{% block content %}
    <div class="info">
        <h1>{{ song.title }}</h1>
        <h2>{{ song.artist }}</h2>
        <h3>Themes</h3>
        <p>{{ song.themes.all|join:", " }}</p>
        <h3>Speed</h3>
        <p>{{ song.get_speed_display }}</p>
        <h3>Downloads</h3>
        <ul>
            <li><a href="{{ song.doc.url }}">{{ song.doc.url|filename }}</a></li>
            <li><a href="{{ song.pdf.url }}">{{ song.pdf.url|filename }}</a></li>
        </ul>
    </div>

    <object type="application/pdf" data="{{ song.pdf.url }}" id="songpdf">
        <p>Your browser does not support embedded PDF files. To download or view the song, click one of the buttons below.</p>
    </object>
{% endblock %}