{% extends "base.html" %}
{% load partials utils %}

{% block title %}
    {{ song.title }} | WorshipMate
{% endblock %}

{% block head %}
    {% add_style 'song.css' %}
{% endblock %}

{% block content %}
    <div class="info">
        <h1>{{ song.title }}</h1>
        <h2>{{ song.artist }}</h2>
        <h3>Themes</h3>
        <p>{{ song.themes.all|join:", " }}</p>
        <h3>Speed</h3>
        <p>{{ song.get_speed_display }}</p>
        <h3>Downloads</h3>
        <ul>
            <li><a href="{{ song.doc.url }}">{{ song.doc.url|filename }}</a></li>
            <li><a href="{{ song.pdf.url }}">{{ song.pdf.url|filename }}</a></li>
        </ul>
    </div>

    <iframe id="songpdf" src="http://docs.google.com/gview?url={{ song.pdf.url }}&embedded=true" frameborder="0"></iframe>
{% endblock %}
