{% extends "base.html" %}
{% load staticfiles custom_filters %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/transpose.css' %}" />
    <script src="{% static 'js/transpose.js' %}"></script>
{% endblock %}

{% block title %}
    Transposing
{% endblock %}

{% block quote %}
    I will sing to the Lord as long as I live; I will sing praise to my God while I have my being. ~Psalm 104:33
{% endblock %}

{% block body %}
<h2>Overview</h2>
<p>Sometimes, songs are too high or too low. If that is the case, you should change the <i>key</i> of the song. The key of a song decides what pitches to sing. A high key will have higher pitches than a lower key. If you want to sing the key at a lower key, take all the chords in the song and change them into a lower chord, as dictated by the scale below. If you want to sing a higher key, take the chords and change them into a higher chord.</p>

<h2>Scale</h2>
<p>Click on a chord to view the other chords relative to that chord. To lower a chord by 2 steps, for example, your new chord will be under "-2" after clicking on the original chord. To lower the key of a song, do that process for every chord in the song, or use the Mass Transpose app below.</p>
<div id="chordchart"></div>
<p class="help">This scale should extend from -6 to +6. You may have to scroll if your screen is too small.</p>

<h2>Mass Transpose</h2>
<p>To automatically transpose your chords, type your chords below and select the amount by which you want to change the key.</p>

<div class="app-container">
    <textarea class="input-chords"></textarea>
    <select class="input-change"></select>
    <div class="result-container"><table class="app-result"></table></div>
</div>
{% endblock %}