{% extends "base.html" %}

{% block quote %}
Therefore I will praise you, Lord, among the nations; I will sing the praises of your name ~2 Samuel 22:50
{% endblock %}

{% block body %}
<form action="{% url 'search' %}" method="GET">
    <input name="query" id="searchbox" value="{{ query }}"></input>
</form>

{% if not pages and not songs %}
    <h2>No results found.</h2>
{% endif %}

{% if pages %}
    <h2>Pages Found</h2>
    {% for page, link in pages %}
    <h3><a href="{{ link }}">{{ page }}</a></h3>
    {% endfor %}
{% endif %}

{% if songs %}
    <h2>Songs Found</h2>
    {% for song, link in songs %}
    <h3><a href="{{ link }}">{{ song }}</a></h3>
    {% endfor %}
{% endif %}
{% endblock %}