{% extends "base.html" %}

{% block quote %}
I'll find a new quote!
{% endblock %}

{% block body %}
{% if not pages and not titles and not lyrics %}
    <h2>No results found.</h2>
{% endif %}

{% if pages %}
    <h2>Pages</h2>
    {% for page, link in pages %}
    <h3><a href="{{ link }}">{{ page }}</a></h3>
    {% endfor %}
{% endif %}

{% if titles %}
    <h2>Song Titles Found</h2>
    {% for title, link in titles %}
    <h3><a href="{{ link }}">{{ title }}</a></h3>
    {% endfor %}
{% endif %}

{% if lyrics %}
    <h2>Song Lyrics Found</h2>
    {% for song, link in lyrics %}
    <h3><a href="{{ link }}">{{ song }}</a></h3>
    {% endfor %}
{% endif %}
{% endblock %}