{% extends "database/index.html" %}
{% load staticfiles custom_filters %}

{% block content %}
<p><a href="{% url 'database:index' %}">&larr; Back to Database</a></p>

<h1>{{ song.title }} <span id="artist">{{ song.artist }}</span></h1>

<h2>Themes</h2>
<p>{{ song.themes }} <a href="{% url 'contact:index' %}" id="feedback">Comments or Suggestions?</a></p>
<h2>Speed</h2>
<p>{{ song.speed|convert_speed }}</p>

<object type="application/pdf" data="{% static 'songs/pdf/'|add:song.title|add:'.pdf' %}" id="songpdf">
    <p>Your browser does not support embedded PDF files. To download or view the song, click one of the buttons below.</p>
</object>

<div id="buttons-container">
    <div class="download">
        {% static "songs/pdf/"|add:song.title|add:".pdf" as pdf_url %}
        {% static "songs/doc/"|add:song.title|add:".doc" as doc_url %}
        <a href="{{ doc_url }}" download>
            <button type="submit">Get .doc file</button>
        </a>
        <a href="{{ pdf_url }}" download>
            <button type="submit">Get .pdf file</button>
        </a>
    </div>
    <div class="navigation">
        {% if navigate.before %}
            <a href="{% url 'database:detail' navigate.before.0.title %}">
                &larr; {{ navigate.before.0 }}
            </a>
        {% endif %}
        {% if navigate.after %}
            <a href="{% url 'database:detail' navigate.after.0.title %}">
                {{ navigate.after.0 }} &rarr;
            </a>
        {% endif %}
    </div>
</div>
{% endblock %}