{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Worship Song Database{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" >
    <script src="{% static 'js/vendor/analytics.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.min.js' %}"></script>
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Rubik:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block head %}{% endblock %}
</head>
{% spaceless %}
    <body>
        <header>
            <h1><a href="{% url 'home' %}">Worship Song Database</a></h1>
            <nav>
                <a href="{% url 'home' %}">Database</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </nav>
        </header>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </body>
{% endspaceless %}
</html>
