{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} | Worship Song Database</title>
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" >
        <script src="{% static 'js/vendor/analytics.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.min.js' %}"></script>
        <script src="{% static 'js/nav.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1>Worship Song Database</h1>
                <nav>
                    <div class="nav-home">
                        <img class="icon home" src="{% static 'img/home.png' %}">
                        <a href="{% url 'home' %}">Home</a>
                    </div>
                    <div class="nav-database">
                        <img class="icon database" src="{% static 'img/database.png' %}">
                        <a href="{% url 'database' %}">Database</a>
                    </div>
                    <div class="nav-about">
                        <img class="icon about" src="{% static 'img/about.png' %}">
                        <a href="{% url 'about' %}">About</a>
                    </div>
                    <div class="nav-contact">
                        <img class="icon contact" src="{% static 'img/contact.png' %}">
                        <a href="{% url 'contact' %}">Contact</a>
                    </div>
                    <div class="nav-search">
                        <img src="{% static 'img/search.png' %}" id="search">
                        <form action="{% url 'search' %}" method="GET">
                            <input name="query" id="searchbox">
                        </form>
                    </div>
                </nav>
            </header>
    
            <div id="content">
                <p id="quote">
                    {% block quote %}{% endblock %}
                </p>
                
                {% block content %}
                    <h1>{% block title %} {{ title }} {% endblock %}</h1>
                    {% block body %}{% endblock %}
                {% endblock %}
            </div>
    
            <footer>
            </footer>
        </div>
    </body>
</html>
