<!--
    The template Heroku shows when the Heroku application encounters an error.
    This template is stored on Amazon AWS and accessed with Heroku environment
    variables.

    https://devcenter.heroku.com/articles/error-pages#customize-pages
-->
<html>
<head>
    <title>Application Error | Worship Song Database</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="https://s3-us-west-1.amazonaws.com/brandonchinn178-worship/static/img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://brandonchinn178-worship.s3.amazonaws.com/static/css/base.css">
</head>
    <body>
        <header>
            <h1><a href="{% url 'home' %}">Worship Song Database</a></h1>
        </header>
        <div class="content">
            <h1>Application Error</h1>
            <p>The Worship Song Database encountered an unusual error.</p>
            <p>Please contact <a href="mailto:brandonchinn178@gmail.com">brandonchinn178@gmail.com</a> with a walk-through of what you did to get the error.</p>
        </div>
    </body>
</html>
